<%= form_with(model: poker_hand) do |form| %>
  <% if poker_hand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poker_hand.errors.count, "error") %> prohibited this poker_hand from being saved:</h2>

      <ul>
        <% poker_hand.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cards %>
    <%= form.text_field :cards %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
