<p id="notice"><%= notice %></p>

<p>
  <strong>Cards:</strong>
  <%= @poker_hand.cards %>
</p>

<p>
  <strong>Ranking type:</strong>
  <%= @poker_hand.ranking_type %>
</p>

<p>
  <strong>Rank no:</strong>
  <%= @poker_hand.rank_no %>
</p>

<%= link_to 'Back', poker_hands_path %>
